openapi: 3.0.3
info:
  title: Caritas
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://caritas.wolfshoehle.eu'
paths:
  /api/schedule:
    get:
      summary: 'List available shops'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nList all shops that are in the same organization as the user"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Schedule
  '/api/schedule/{shop_id}':
    get:
      summary: 'List today´s reservations'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nList all today's reservations for a specified store"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Schedule
    parameters:
      -
        in: path
        name: shop_id
        description: 'The ID of the shop.'
        example: 1
        required: true
        schema:
          type: integer
  /api/handshake:
    get:
      summary: 'Create session and XSRF-Token'
      description: "Required to initialise a new Cookie-Session for SPAs.\nDo not use this endpoint if you want to use Token-Auth."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Referer
          description: ''
          example: '{URL of your SPA}'
          schema:
            type: string
      responses:
        204:
          description: ''
      tags:
        - Authentication
      security: []
  /api/auth/login:
    post:
      summary: 'Login with SPA-Session (Cookies)'
      description: "After you send a GET-request to <code>/api/handshake</code>, which will create the Session and give you a XSRF-Token,\nyou can send your Credentials to this endpoint and authenticate your session.\n\nAll further requests are now authenticated through cookies and do not require an Authorization-Header.\n\n<aside class=\"warning\">\n  If you get an Error 419, make sure your Request contains the X-XSRF-TOKEN header.\n  <p>\n    You can enable this in axios with the following line:\n    <pre style=\"float: none; width: 100%;\"><code>axios.defaults.withCredentials = true;</code></pre>\n  </p>\n</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Referer
          description: ''
          example: '{URL of your SPA}'
          schema:
            type: string
        -
          in: header
          name: X-XSRF-TOKEN
          description: ''
          example: '{Your XSRF-Token}'
          schema:
            type: string
      responses:
        200:
          description: 'Valid credentials'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  user:
                    id: 1
                    name: 'Example User'
                    email: example@localhost.test
                    roles:
                      - instance_manager
                    permissions:
                      - card.external
                      - card.manage
                      - card.view
                      - limits.manage
                      - organisation.manage
                      - organisation.view
                      - shop.manage
                      - shop.view
                      - stats.view
                      - user.manage
                      - user.view
                    instance:
                      id: 1
                      name: 'Example Instance'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:43.000000Z'
                      updated_at: '2022-08-02T11:59:43.000000Z'
                    organization:
                      id: 1
                      name: 'Example Organisation'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
                    created_at: '2022-08-02T11:59:44.000000Z'
                    updated_at: '2022-08-02T11:59:44.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    type: object
                    example:
                      id: 1
                      name: 'Example User'
                      email: example@localhost.test
                      roles:
                        - instance_manager
                      permissions:
                        - card.external
                        - card.manage
                        - card.view
                        - limits.manage
                        - organisation.manage
                        - organisation.view
                        - shop.manage
                        - shop.view
                        - stats.view
                        - user.manage
                        - user.view
                      instance:
                        id: 1
                        name: 'Example Instance'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:43.000000Z'
                        updated_at: '2022-08-02T11:59:43.000000Z'
                      organization:
                        id: 1
                        name: 'Example Organisation'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:44.000000Z'
                        updated_at: '2022-08-02T11:59:44.000000Z'
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
        401:
          description: 'Invalid credentials'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                properties:
                  success:
                    type: boolean
                    example: false
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'E-Mail of the user.'
                  example: quo
                password:
                  type: string
                  description: 'Password of the user.'
                  example: dolorum
              required:
                - email
                - password
      security: []
  /api/auth/token:
    post:
      summary: 'Login with Bearer Token (Authorization Header)'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nIf you are not able to use Cookies, for example in a mobile application, you can use Token-Auth instead.\nTokens will be valid for 20 hours before they expire.\n\n<aside class=\"warning\">\n  Endpoints under the <code>/admin</code> path will not be available for Applications using Token-Auth.\n</aside>"
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: 'Valid credentials'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  token: '{YOUR_AUTH_KEY}'
                  user:
                    id: 1
                    name: 'Example User'
                    email: example@localhost.test
                    roles:
                      - instance_manager
                    permissions:
                      - card.external
                      - card.manage
                      - card.view
                      - limits.manage
                      - organisation.manage
                      - organisation.view
                      - shop.manage
                      - shop.view
                      - stats.view
                      - user.manage
                      - user.view
                    instance:
                      id: 1
                      name: 'Example Instance'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:43.000000Z'
                      updated_at: '2022-08-02T11:59:43.000000Z'
                    organization:
                      id: 1
                      name: 'Example Organisation'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
                    created_at: '2022-08-02T11:59:44.000000Z'
                    updated_at: '2022-08-02T11:59:44.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  token:
                    type: string
                    example: '{YOUR_AUTH_KEY}'
                  user:
                    type: object
                    example:
                      id: 1
                      name: 'Example User'
                      email: example@localhost.test
                      roles:
                        - instance_manager
                      permissions:
                        - card.external
                        - card.manage
                        - card.view
                        - limits.manage
                        - organisation.manage
                        - organisation.view
                        - shop.manage
                        - shop.view
                        - stats.view
                        - user.manage
                        - user.view
                      instance:
                        id: 1
                        name: 'Example Instance'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:43.000000Z'
                        updated_at: '2022-08-02T11:59:43.000000Z'
                      organization:
                        id: 1
                        name: 'Example Organisation'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:44.000000Z'
                        updated_at: '2022-08-02T11:59:44.000000Z'
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
        401:
          description: 'Invalid credentials'
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                properties:
                  success:
                    type: boolean
                    example: false
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'E-Mail of the user. Must be a valid email address.'
                  example: ayden.gleichner@example.com
                password:
                  type: string
                  description: 'Password of the user.'
                  example: labore
                device_name:
                  type: string
                  description: 'Name of the device, used for identification of the token.'
                  example: possimus
              required:
                - email
                - password
                - device_name
      security: []
  /api/auth/logout:
    post:
      summary: Logout
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nInvalidate your current session/token"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                properties:
                  success:
                    type: boolean
                    example: true
      tags:
        - Authentication
  /api/auth/heartbeat:
    get:
      summary: Heartbeat
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nChecks if the session is still valid and active and returns information about the authenticated user.\n\n<aside class=\"warning\">\n    This endpoint does NOT change the active session and therefore is unable to increase the lifetime of the session.\n    Its purpose is only for testing if the session is still valid and active.\n</aside>"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  user:
                    id: 1
                    name: 'Example User'
                    email: example@localhost.test
                    roles:
                      - instance_manager
                    permissions:
                      - card.external
                      - card.manage
                      - card.view
                      - limits.manage
                      - organisation.manage
                      - organisation.view
                      - shop.manage
                      - shop.view
                      - stats.view
                      - user.manage
                      - user.view
                    instance:
                      id: 1
                      name: 'Example Instance'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:43.000000Z'
                      updated_at: '2022-08-02T11:59:43.000000Z'
                    organization:
                      id: 1
                      name: 'Example Organisation'
                      street: 'Teststreet 123'
                      postcode: '12345'
                      city: Test
                      contact: example@localhost.test
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
                    created_at: '2022-08-02T11:59:44.000000Z'
                    updated_at: '2022-08-02T11:59:44.000000Z'
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    type: object
                    example:
                      id: 1
                      name: 'Example User'
                      email: example@localhost.test
                      roles:
                        - instance_manager
                      permissions:
                        - card.external
                        - card.manage
                        - card.view
                        - limits.manage
                        - organisation.manage
                        - organisation.view
                        - shop.manage
                        - shop.view
                        - stats.view
                        - user.manage
                        - user.view
                      instance:
                        id: 1
                        name: 'Example Instance'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:43.000000Z'
                        updated_at: '2022-08-02T11:59:43.000000Z'
                      organization:
                        id: 1
                        name: 'Example Organisation'
                        street: 'Teststreet 123'
                        postcode: '12345'
                        city: Test
                        contact: example@localhost.test
                        created_at: '2022-08-02T11:59:44.000000Z'
                        updated_at: '2022-08-02T11:59:44.000000Z'
                      created_at: '2022-08-02T11:59:44.000000Z'
                      updated_at: '2022-08-02T11:59:44.000000Z'
      tags:
        - Authentication
  /api/admin/card:
    get:
      summary: 'List all Cards'
      description: ''
      parameters:
        -
          in: query
          name: last_name
          description: 'Last name contains.'
          example: est
          required: false
          schema:
            type: string
            description: 'Last name contains.'
            example: est
        -
          in: query
          name: first_name
          description: 'First name contains.'
          example: tempore
          required: false
          schema:
            type: string
            description: 'First name contains.'
            example: tempore
        -
          in: query
          name: street
          description: 'Street contains.'
          example: voluptatem
          required: false
          schema:
            type: string
            description: 'Street contains.'
            example: voluptatem
        -
          in: query
          name: postcode
          description: 'Postcode contains.'
          example: atque
          required: false
          schema:
            type: string
            description: 'Postcode contains.'
            example: atque
        -
          in: query
          name: city
          description: 'City contains.'
          example: officiis
          required: false
          schema:
            type: string
            description: 'City contains.'
            example: officiis
        -
          in: query
          name: valid_from
          description: ''
          example: []
          required: false
          schema:
            type: object
            description: ''
            example: []
            properties: []
        -
          in: query
          name: valid_from.0
          description: 'Valid from is after this date. Must be a valid date.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid from is after this date. Must be a valid date.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_from.1
          description: 'Valid from is before this date. Must be a valid date. This field is required when <code>valid_from.0</code> is present.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid from is before this date. Must be a valid date. This field is required when <code>valid_from.0</code> is present.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_until
          description: ''
          example: []
          required: false
          schema:
            type: object
            description: ''
            example: []
            properties: []
        -
          in: query
          name: valid_until.0
          description: 'Valid until is after this date. Must be a valid date.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid until is after this date. Must be a valid date.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_until.1
          description: 'Valid until is before this date. Must be a valid date. This field is required when <code>valid_until.0</code> is present.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid until is before this date. Must be a valid date. This field is required when <code>valid_until.0</code> is present.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: creator_id
          description: 'Created by user_id.'
          example: null
          required: false
          schema:
            type: string
            description: 'Created by user_id.'
            example: null
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>last_name</code>, <code>first_name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, <code>valid_from</code>, <code>valid_until</code>, or <code>creator_id</code>.'
          example: first_name
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>last_name</code>, <code>first_name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, <code>valid_from</code>, <code>valid_until</code>, or <code>creator_id</code>.'
            example: first_name
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 16
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 16
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Card
    post:
      summary: 'Create new Card'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 'Last name of the cardholder.'
                  example: error
                first_name:
                  type: string
                  description: 'First name of the cardholder.'
                  example: nisi
                street:
                  type: string
                  description: 'Street where the cardholder is located.'
                  example: laboriosam
                postcode:
                  type: string
                  description: 'Postcode where the cardholder is located.'
                  example: ipsa
                city:
                  type: string
                  description: 'City where the cardholder is located.'
                  example: porro
                valid_from:
                  type: string
                  description: 'Date and time of the start of validity of the card. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                valid_until:
                  type: string
                  description: 'Date and time of the expiry of the card. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                creator_id:
                  type: string
                  description: 'ID of the User the card is attached to.'
                  example: perferendis
              required:
                - last_name
                - first_name
                - valid_from
                - valid_until
                - creator_id
  '/api/admin/card/{id}':
    get:
      summary: 'Show specified Card'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Card
    put:
      summary: 'Update specified Card'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                last_name:
                  type: string
                  description: 'Last name of the cardholder.'
                  example: sit
                first_name:
                  type: string
                  description: 'First name of the cardholder.'
                  example: minus
                street:
                  type: string
                  description: 'Street where the cardholder is located.'
                  example: consectetur
                postcode:
                  type: string
                  description: 'Postcode where the cardholder is located.'
                  example: iusto
                city:
                  type: string
                  description: 'City where the cardholder is located.'
                  example: odit
                valid_from:
                  type: string
                  description: 'Date and time of the start of validity of the card. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                valid_until:
                  type: string
                  description: 'Date and time of the expiry of the card. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                creator_id:
                  type: string
                  description: 'ID of the User the card is attached to.'
                  example: vel
              required:
                - last_name
                - first_name
                - valid_from
                - valid_until
                - creator_id
    delete:
      summary: 'Delete specified Card'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Card
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the card.'
        example: 50080528753334
        required: true
        schema:
          type: integer
  '/api/card/visit/{card_id}':
    get:
      summary: 'Show specified Card and related Persons'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nEndpoint shows the specified card, the associated people and the limitation_state.\nThe limitation_state shows for the persons the limit for a productType and how\nmany of them have already been used by a person"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Checkout
    post:
      summary: 'Create new Visit, LineItems'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nEndpoint creates a new Visit entry and stores the submitted lineItems"
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Checkout
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lineItems:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      person_id:
                        type: string
                        description: 'ID of the person the lineItem is for.'
                        example: itaque
                      product_type_id:
                        type: string
                        description: 'ID of the product_type of the lineItem.'
                        example: laborum
                      amount:
                        type: integer
                        description: 'The amount of purchased lineItems of the same product_type. Must be at least 1.'
                        example: 1
                    required:
                      - person_id
                      - product_type_id
                      - amount
    parameters:
      -
        in: path
        name: card_id
        description: 'The ID of the card.'
        example: 8
        required: true
        schema:
          type: integer
  /api/admin/limitation/limit:
    get:
      summary: 'List all Limitation'
      description: ''
      parameters:
        -
          in: query
          name: limitation_set_id
          description: 'Limitation Set.'
          example: null
          required: false
          schema:
            type: string
            description: 'Limitation Set.'
            example: null
        -
          in: query
          name: product_type_id
          description: 'Product Type.'
          example: null
          required: false
          schema:
            type: string
            description: 'Product Type.'
            example: null
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>limitation_set_id</code>, <code>product_type_id</code>, or <code>limit</code>.'
          example: limitation_set_id
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>limitation_set_id</code>, <code>product_type_id</code>, or <code>limit</code>.'
            example: limitation_set_id
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 9
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 9
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Limitation
    post:
      summary: 'Create new Limitation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Limitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_type_id:
                  type: string
                  description: 'ID of the product type the limitation is attached to.'
                  example: aut
                limitation_set_id:
                  type: string
                  description: 'ID of the limitation set the limitation is attached to.'
                  example: nemo
                limit:
                  type: integer
                  description: 'Number that determines the limit.'
                  example: 8
              required:
                - product_type_id
                - limitation_set_id
  '/api/admin/limitation/limit/{limitation_id}':
    get:
      summary: 'Show specified Limitation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Limitation
    put:
      summary: 'Update specified Limitation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Limitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_type_id:
                  type: string
                  description: 'ID of the product type the limitation is attached to.'
                  example: quo
                limitation_set_id:
                  type: string
                  description: 'ID of the limitation set the limitation is attached to.'
                  example: odio
                limit:
                  type: integer
                  description: 'Number that determines the limit.'
                  example: 6
              required:
                - product_type_id
                - limitation_set_id
    delete:
      summary: 'Delete specified Limitation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Limitation
    parameters:
      -
        in: path
        name: limitation_id
        description: 'The ID of the limitation.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/limitation/set:
    get:
      summary: 'List all LimitationSets'
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Filter by name.'
          example: incidunt
          required: false
          schema:
            type: string
            description: 'Filter by name.'
            example: incidunt
        -
          in: query
          name: valid_from
          description: ''
          example: []
          required: false
          schema:
            type: object
            description: ''
            example: []
            properties: []
        -
          in: query
          name: valid_from.0
          description: 'Valid from is after this date. Must be a valid date.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid from is after this date. Must be a valid date.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_from.1
          description: 'Valid from is before this date. Must be a valid date. This field is required when <code>valid_from.0</code> is present.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid from is before this date. Must be a valid date. This field is required when <code>valid_from.0</code> is present.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_until
          description: ''
          example: []
          required: false
          schema:
            type: object
            description: ''
            example: []
            properties: []
        -
          in: query
          name: valid_until.0
          description: 'Valid until is after this date. Must be a valid date.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid until is after this date. Must be a valid date.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: valid_until.1
          description: 'Valid until is before this date. Must be a valid date. This field is required when <code>valid_until.0</code> is present.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Valid until is before this date. Must be a valid date. This field is required when <code>valid_until.0</code> is present.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, <code>valid_from</code>, or <code>valid_until</code>.'
          example: valid_from
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, <code>valid_from</code>, or <code>valid_until</code>.'
            example: valid_from
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 16
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 16
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Limitation Set'
    post:
      summary: 'Create new LimitationSet'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Limitation Set'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of the limitation set.'
                  example: dignissimos
                valid_from:
                  type: string
                  description: 'Date and time of the start of the validity of the limitation set. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                valid_until:
                  type: string
                  description: 'Date and time of the expiry of the limitation set. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
              required:
                - name
                - valid_from
  '/api/admin/limitation/set/{limitationSet_id}':
    get:
      summary: 'Show specified LimitationSet'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Limitation Set'
    put:
      summary: 'Update specified LimitationSet'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Limitation Set'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of the limitation set.'
                  example: nam
                valid_from:
                  type: string
                  description: 'Date and time of the start of the validity of the limitation set. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
                valid_until:
                  type: string
                  description: 'Date and time of the expiry of the limitation set. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
              required:
                - name
                - valid_from
    delete:
      summary: 'Delete specified LimitationSet'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Limitation Set'
    parameters:
      -
        in: path
        name: limitationSet_id
        description: 'The ID of the limitationSet.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/lineItem:
    get:
      summary: 'List all LineItems'
      description: ''
      parameters:
        -
          in: query
          name: visit_id
          description: Visit.
          example: null
          required: false
          schema:
            type: string
            description: Visit.
            example: null
        -
          in: query
          name: person_id
          description: Person.
          example: null
          required: false
          schema:
            type: string
            description: Person.
            example: null
        -
          in: query
          name: product_type_id
          description: 'Product Type.'
          example: null
          required: false
          schema:
            type: string
            description: 'Product Type.'
            example: null
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>visit_id</code>, <code>person_id</code>, or <code>product_type_id</code>.'
          example: product_type_id
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>visit_id</code>, <code>person_id</code>, or <code>product_type_id</code>.'
            example: product_type_id
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 1
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Line Item'
    post:
      summary: 'Create new LineItem'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Line Item'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visit_id:
                  type: string
                  description: 'ID of the visit the lineItem is attached to.'
                  example: et
                person_id:
                  type: string
                  description: 'ID of the person the lineItem is attached to.'
                  example: neque
                product_type_id:
                  type: string
                  description: 'ID of the product_type the lineItem is attached to.'
                  example: voluptatibus
              required:
                - visit_id
                - person_id
                - product_type_id
  '/api/admin/lineItem/{id}':
    get:
      summary: 'Show specified LineItem'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Line Item'
    put:
      summary: 'Update specified LineItem'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Line Item'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visit_id:
                  type: string
                  description: 'ID of the visit the lineItem is attached to.'
                  example: quam
                person_id:
                  type: string
                  description: 'ID of the person the lineItem is attached to.'
                  example: omnis
                product_type_id:
                  type: string
                  description: 'ID of the product_type the lineItem is attached to.'
                  example: voluptas
              required:
                - visit_id
                - person_id
                - product_type_id
    delete:
      summary: 'Delete specified LineItem'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Line Item'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the lineItem.'
        example: 9
        required: true
        schema:
          type: integer
  /api/admin/organization:
    get:
      summary: 'List all Organization'
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Name contains.'
          example: sint
          required: false
          schema:
            type: string
            description: 'Name contains.'
            example: sint
        -
          in: query
          name: street
          description: 'Street contains.'
          example: non
          required: false
          schema:
            type: string
            description: 'Street contains.'
            example: non
        -
          in: query
          name: postcode
          description: 'Postcode contains.'
          example: et
          required: false
          schema:
            type: string
            description: 'Postcode contains.'
            example: et
        -
          in: query
          name: city
          description: 'City contains.'
          example: placeat
          required: false
          schema:
            type: string
            description: 'City contains.'
            example: placeat
        -
          in: query
          name: contact
          description: 'Contact contains.'
          example: quae
          required: false
          schema:
            type: string
            description: 'Contact contains.'
            example: quae
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, or <code>contact</code>.'
          example: contact
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, or <code>contact</code>.'
            example: contact
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 2
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Organization
    post:
      summary: 'Create new Organization'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: 'ID of the instance the organization is attached to.'
                  example: corporis
                name:
                  type: string
                  description: 'Name of the organization.'
                  example: aut
                street:
                  type: string
                  description: 'Street where the organization is located.'
                  example: et
                postcode:
                  type: string
                  description: 'Postcode where the organization is located.'
                  example: libero
                city:
                  type: string
                  description: 'City where the organization is located.'
                  example: sequi
                contact:
                  type: string
                  description: 'Contact information from the organization.'
                  example: omnis
              required:
                - instance_id
                - name
                - street
                - postcode
                - city
                - contact
  '/api/admin/organization/{id}':
    get:
      summary: 'Show specified Organization'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Organization
    put:
      summary: 'Update specified Organization'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: 'ID of the instance the organization is attached to.'
                  example: iste
                name:
                  type: string
                  description: 'Name of the organization.'
                  example: placeat
                street:
                  type: string
                  description: 'Street where the organization is located.'
                  example: non
                postcode:
                  type: string
                  description: 'Postcode where the organization is located.'
                  example: molestias
                city:
                  type: string
                  description: 'City where the organization is located.'
                  example: consequuntur
                contact:
                  type: string
                  description: 'Contact information from the organization.'
                  example: maxime
              required:
                - instance_id
                - name
                - street
                - postcode
                - city
                - contact
    delete:
      summary: 'Delete specified Organization'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Organization
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the organization.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/pdf/card/{card_id}':
    get:
      summary: 'Print specified Card'
      description: "<small class=\"badge badge-purple\">App authorization available</small>\n\nGenerate PDF for the given Card-ID. You can control the response with the Query-Params listed below.\nIf none is given it will generate a json with the base64 encoded PDF-File."
      parameters:
        -
          in: query
          name: download
          description: 'Download generated PDF'
          example: null
          required: false
          schema:
            type: string
            description: 'Download generated PDF'
            example: null
        -
          in: query
          name: raw
          description: 'Show PDF in Browser'
          example: null
          required: false
          schema:
            type: string
            description: 'Show PDF in Browser'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - PDF
    parameters:
      -
        in: path
        name: card_id
        description: 'The ID of the card.'
        example: 50080528753334
        required: true
        schema:
          type: integer
  /api/admin/person:
    get:
      summary: 'List all persons'
      description: ''
      parameters:
        -
          in: query
          name: card_id
          description: Card.
          example: null
          required: false
          schema:
            type: string
            description: Card.
            example: null
        -
          in: query
          name: gender
          description: 'Gender contains.'
          example: occaecati
          required: false
          schema:
            type: string
            description: 'Gender contains.'
            example: occaecati
        -
          in: query
          name: age
          description: 'Age is.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Age is.'
            example: 20
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>card_id</code>, <code>gender</code>, or <code>age</code>.'
          example: gender
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>card_id</code>, <code>gender</code>, or <code>age</code>.'
            example: gender
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 13
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 13
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Person
    post:
      summary: 'Create new Person'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id:
                  type: string
                  description: 'ID of the card the person is attached to.'
                  example: reiciendis
                gender:
                  type: string
                  description: 'Gender of the person.'
                  example: voluptas
                age:
                  type: integer
                  description: 'Age of the Person.'
                  example: 1
              required:
                - card_id
                - gender
                - age
  '/api/admin/person/{id}':
    get:
      summary: 'Show specified Person'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Person
    put:
      summary: 'Update specified Person'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Person
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id:
                  type: string
                  description: 'ID of the card the person is attached to.'
                  example: facilis
                gender:
                  type: string
                  description: 'Gender of the person.'
                  example: ut
                age:
                  type: integer
                  description: 'Age of the Person.'
                  example: 4
              required:
                - card_id
                - gender
                - age
    delete:
      summary: 'Delete specified Person'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Person
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the person.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/product-type:
    get:
      summary: 'List all ProductTypes'
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Name contains.'
          example: est
          required: false
          schema:
            type: string
            description: 'Name contains.'
            example: est
        -
          in: query
          name: icon
          description: 'Icon contains.'
          example: nemo
          required: false
          schema:
            type: string
            description: 'Icon contains.'
            example: nemo
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, or <code>icon</code>.'
          example: id
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>name</code>, or <code>icon</code>.'
            example: id
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 3
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Product Type'
    post:
      summary: 'Create new ProductType'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of the product type.'
                  example: facere
                icon:
                  type: string
                  description: 'Icon of the product type.'
                  example: possimus
              required:
                - name
  '/api/admin/product-type/{productType_id}':
    get:
      summary: 'Show specified ProductType'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Product Type'
    put:
      summary: 'Update specified ProductType'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of the product type.'
                  example: neque
                icon:
                  type: string
                  description: 'Icon of the product type.'
                  example: dolorum
              required:
                - name
    delete:
      summary: 'Delete specified ProductType'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Product Type'
    parameters:
      -
        in: path
        name: productType_id
        description: 'The ID of the productType.'
        example: 1
        required: true
        schema:
          type: integer
  /api/reservation:
    get:
      summary: 'List all Reservations'
      description: ''
      parameters:
        -
          in: query
          name: card_id
          description: Card.
          example: null
          required: false
          schema:
            type: string
            description: Card.
            example: null
        -
          in: query
          name: shop_id
          description: Shop.
          example: null
          required: false
          schema:
            type: string
            description: Shop.
            example: null
        -
          in: query
          name: time
          description: ''
          example: []
          required: false
          schema:
            type: object
            description: ''
            example: []
            properties: []
        -
          in: query
          name: time.0
          description: 'Time is after this date. Must be a valid date.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Time is after this date. Must be a valid date.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: time.1
          description: 'Time is before this date. Must be a valid date. This field is required when <code>time.0</code> is present.'
          example: '2022-08-21T14:22:56'
          required: false
          schema:
            type: string
            description: 'Time is before this date. Must be a valid date. This field is required when <code>time.0</code> is present.'
            example: '2022-08-21T14:22:56'
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>card_id</code>, <code>shop_id</code>, or <code>time</code>.'
          example: shop_id
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>card_id</code>, <code>shop_id</code>, or <code>time</code>.'
            example: shop_id
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 16
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 16
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Reservation
    post:
      summary: 'Create new Reservation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Reservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id:
                  type: string
                  description: 'ID of the card the reservation is attached to.'
                  example: qui
                shop_id:
                  type: string
                  description: 'ID of the shop the reservation is for.'
                  example: corporis
                time:
                  type: string
                  description: 'Date and Time for the reservation. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
              required:
                - card_id
                - shop_id
                - time
  '/api/reservation/{id}':
    get:
      summary: 'Show specified Reservation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Reservation
    put:
      summary: 'Update specified Reservation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Reservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                card_id:
                  type: string
                  description: 'ID of the card the reservation is attached to.'
                  example: consequatur
                shop_id:
                  type: string
                  description: 'ID of the shop the reservation is for.'
                  example: ut
                time:
                  type: string
                  description: 'Date and Time for the reservation. Must be a valid date.'
                  example: '2022-08-04 12:00:00'
              required:
                - card_id
                - shop_id
                - time
    delete:
      summary: 'Delete specified Reservation'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Reservation
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the reservation.'
        example: 1
        required: true
        schema:
          type: integer
  /api/admin/shop:
    get:
      summary: 'List all Shops'
      description: ''
      parameters:
        -
          in: query
          name: organization_id
          description: Organization.
          example: null
          required: false
          schema:
            type: string
            description: Organization.
            example: null
        -
          in: query
          name: name
          description: 'Name contains.'
          example: sint
          required: false
          schema:
            type: string
            description: 'Name contains.'
            example: sint
        -
          in: query
          name: street
          description: 'Street contains.'
          example: delectus
          required: false
          schema:
            type: string
            description: 'Street contains.'
            example: delectus
        -
          in: query
          name: postcode
          description: 'Postcode contains.'
          example: iure
          required: false
          schema:
            type: string
            description: 'Postcode contains.'
            example: iure
        -
          in: query
          name: city
          description: 'City contains.'
          example: saepe
          required: false
          schema:
            type: string
            description: 'City contains.'
            example: saepe
        -
          in: query
          name: contact
          description: 'Contact contains.'
          example: quia
          required: false
          schema:
            type: string
            description: 'Contact contains.'
            example: quia
        -
          in: query
          name: sort
          description: 'Sort by given field. Must be one of <code>id</code>, <code>organization_id</code>, <code>name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, or <code>contact</code>.'
          example: street
          required: false
          schema:
            type: string
            description: 'Sort by given field. Must be one of <code>id</code>, <code>organization_id</code>, <code>name</code>, <code>street</code>, <code>postcode</code>, <code>city</code>, or <code>contact</code>.'
            example: street
        -
          in: query
          name: order
          description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort ascending or descending. Must be one of <code>asc</code> or <code>desc</code>.'
            example: asc
        -
          in: query
          name: page
          description: 'Page to load.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page to load.'
            example: 1
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Shop
    post:
      summary: 'Create new Shop'
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Shop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
[...]
