<ng-container *ngIf="!customReturnPath">
  <div [routerLink]="['/'+entityName+'-list']">BACK</div>
</ng-container>
<ng-container *ngIf="customReturnPath">
  <div [routerLink]="[customReturnPath]">BACK</div>
</ng-container>

<ng-container *ngIf="entity">
    <ng-container *ngFor="let column of renderOptions">
      <ng-container *ngIf="column.render == 'string'">
        {{column.headline}}<input type="text" [(ngModel)]="entity[column.field]"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'mail'">
        {{column.headline}}<input type="text" [(ngModel)]="entity[column.field]"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'cardpdf'">
        <app-card-pdf-renderer [id]="entity[column.field]"></app-card-pdf-renderer>
      </ng-container>
      <br/>
    </ng-container>

</ng-container>

<button (click)="save()">Speichern</button>
<button (click)="delete()">löschen</button>
