<div>
  <ng-container *ngIf="!customReturnPath">
    <button class="button-back" [routerLink]="['/'+entityName+'-list']">Zurück</button>
  </ng-container>
  <ng-container *ngIf="customReturnPath">
    <button class="button-back" [routerLink]="[customReturnPath]">Zurück</button>
  </ng-container>
</div>

<br>

<div class="contact-form" style="padding:40px 5px;" *ngIf="entity">
    <ng-container *ngFor="let column of renderOptions">
      <ng-container *ngIf="column.render == 'string'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p>
        <input type="text" [(ngModel)]="entity[column.field]" [readOnly]="column.readOnly"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'input'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p>
        <input [type]="column.htmlType" [(ngModel)]="entity[column.field]" [readOnly]="column.readOnly"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'cardpdf'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p>
        <app-card-pdf-renderer [id]="entity[column.field]"></app-card-pdf-renderer>
      </ng-container>
      <ng-container *ngIf="column.render == 'hidden'">
        <ng-container *ngIf="column.display">
          <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p>
          {{entity[column.field]}}
        </ng-container><br>
        <input type=hidden [id]="entity[column.field]"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'urlparameter'">
        <ng-container *ngIf="column.display">
          <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p>
          {{entity[column.field]}}
        </ng-container>
        <input type="hidden" [(ngModel)]="entity[column.field]"/>
      </ng-container>
      <ng-container *ngIf="column.render == 'entity'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p><app-entity-combo-box [(ngModel)]="entity[column.field]" [entityName]="column.entityName" [displayField]="column.displayField"></app-entity-combo-box>
      </ng-container>
      <ng-container *ngIf="column.render == 'entityarray'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p><app-entity-combo-box [(ngModel)]="entity[column.field][0]" [entityName]="column.entityName" [displayField]="column.displayField"></app-entity-combo-box>
      </ng-container>
      <ng-container *ngIf="column.render == 'openinghours'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p><app-opening-hours-renderer [(ngModel)]="entity[column.field]"></app-opening-hours-renderer>
      </ng-container>
      <ng-container *ngIf="column.render == 'datetime'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p><input type="datetime-local" [(ngModel)]="entity[column.field]"/>
        <!--<app-datetime-renderer [(ngModel)]="entity[column.field]"></app-datetime-renderer>-->
      </ng-container>
      <ng-container *ngIf="column.render == 'password'">
        <p style="margin-top: 10px;margin-bottom:5px;">{{column.headline}}</p><input type="password" [(ngModel)]="entity[column.field]"/>
      </ng-container>

      <ng-container *ngIf="column.render == 'role' && entity[column.field] !== null">
        {{column.headline}}
        <app-user-role-renderer [(ngModel)]="entity[column.field]"></app-user-role-renderer>
      </ng-container>
      <ng-container *ngIf="column.render == 'gender'">
        {{column.headline}}
        <app-gender-select-renderer [(ngModel)]="entity[column.field]"></app-gender-select-renderer>
      </ng-container>
  </ng-container>

</div>
<button class="button-save"  *ngIf="privilegeService.hasPrivelege(savePermission)" (click)="save()">Speichern</button>
<button class="button-delete" *ngIf="entity && entity.id && privilegeService.hasPrivelege(deletePermission)" (click)="delete()">Löschen</button>
